{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

{% set user = user.name.0.value %}
{% set member_length = content.member_for['#markup'] %}
{% set user_id = elements['#user'].uid.0.value %}

<article{{ attributes.addClass(['max-w-5xl mt-10 mx-auto']) }}>
  {% if user %}
    <h1 class="mb-0 leading-snug">Hello
      {{ user|title }}</h1>
  {% endif %}
  {% if member_length %}
    <p class="text-gray-600">
      {{ member_length|striptags|raw }}
    </p>
  {% endif %}

  <div class="mb-3 mt-4">
    <strong>Quick Links</strong>

    <ul class="mt-2 ml-3 list-disc list-inside">
      <li class="mb-1">
        <a class="mb-3" href="/admin/content">Add / Edit Content</a>
      </li>
      <li class="mb-1">
        <a class="mb-3" href="/user/{{ user_id }}/edit">Update Profile</a>
      </li>
      <li class="mb-1">
        <a class="mb-3" href="/user/{{ user_id }}/edit">Change Password</a>
      </li>
      <li class="mb-1">
        <a class="mb-3" href="{{ path('<front>') }}">Go to Home Page</a>
      </li>
      <li class="mb-1">
        <a class="mb-3" href="{{ path('user.logout') }}">Logout</a>
      </li>
    </ul>
  </div>
</article>
