{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

{%
  set variations = {
    'status': 'bg-green-100 border-green-400 text-green-700',
    'error': 'bg-red-100 border-red-400 text-red-700',
  }
%}

<div class="status-messages">
  <div class="container">
    {% for type, messages in message_list %}
      <div
        role="alert"
        class="{{ variations[type] }} border mt-3 px-4 py-3 rounded relative"
        data-type="{{ type }}"
        x-data="{ hidden: false }"
        x-show="!hidden"
      >
        <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>
          {% if type == 'error' %}
            <div role="alert">
          {% endif %}
            {% if status_headings[type] %}
              <h2 class="sr-only">{{ status_headings[type] }}</h2>
            {% endif %}
            {% if messages|length > 1 %}
              <ul class="list-disc list-inside">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% else %}
              {{ messages|first }}
            {% endif %}
          {% if type == 'error' %}
            </div>
          {% endif %}
        </div>
        <button type="button" @click="hidden = true" class="absolute top-0 bottom-0 right-0 flex justify-center w-12 h-12 bg-transparent border-0">
          {% include '@svgs/icon--times.svg' with { class: 'w-4 h-4' } %}
        </button>
      </div>
    {% endfor %}
  </div>
</div>
